<!DOCTYPE html>
<html>
  <head>
    <title>WikiBot dev</title>
    <script src="https://www.gstatic.com/dialogflow-console/fast/messenger/bootstrap.js?v=1"></script>
    <df-messenger
    intent="WELCOME"
    chat-title="impulso.ai"
    agent-id="8689d562-2564-4551-aec5-c711b502cc1c"
    language-code="en">
    </df-messenger>
    <style>
      df-messenger {
          --df-messenger-bot-message: #ff63ce;
          --df-messenger-button-titlebar-color: #ef73fa;
          --df-messenger-chat-background-color: #fafafa;
          --df-messenger-font-color: white;
          --df-messenger-send-icon: #878fac;
          --df-messenger-user-message: #9f63ff;
      }
  </style>

  </body>
</html>